<div class="min-h-screen border-x border-zinc-200">
  <!-- header -->
  <%- include('partials/header')  %>

  <!-- Posts -->
  <div>
    <% if (locals.messages) { %>
    <% messages.map(msg => { %>
    <div class="px-3 sm:px-5 py-5 border-b border-zinc-200 flex gap-2">
      <% if (currentUser.role !== 'user') { %>
      <a href="">
        <span
          class="flex items-center justify-center size-10 bg-zinc-100 rounded-full text-lg text-zinc-800 font-semibold"
          aria-hidden="true"
        >
          <%= msg.author.first_name.slice(0,1) %><%=
                    msg.author.last_name.slice(0,1) %>
        </span>
      </a>
      <% } %>
      <div>
        <% if (currentUser.role !== 'user') { %>
        <div class="flex items-center gap-1.5 mb-1">
          <p class="font-semibold shrink-0">
            <%= msg.author.first_name %> <%= msg.author.last_name %>
          </p>

          <% if (msg.author.role !== 'user') { %>
          <div class="size-5 text-sky-500">
            <%- include('partials/icons/member') %>
          </div>
          <% } %>

          <p class="text-zinc-500 line-clamp-1">
            <%= msg.author.username %>
            <span class="text-zinc-500">&#8901;</span>
            <%=
            locals.formatDistanceToNowStrict(msg.created_at) %>
          </p>
        </div>
        <% } %>
        <div class="flex flex-col gap-2">
          <h2 class="font-semibold"><%= msg.title %></h2>
          <p><%= msg.content %></p>
        </div>
      </div>
    </div>

    <% }) %>

    <% } else { %>
    <%- include('partials/no-posts') %>
    <% } %>
  </div>

  <!-- Floating adding trigger -->
  <button
    id="post-trigger-fixed"
    type="button"
    class="sm:hidden fixed bottom-4 right-4 p-2 bg-sky-500 outline-none text-white font-semibold rounded-full cursor-pointer transition-colors duration-200 hover:bg-sky-400 focus:ring-2 focus:ring-offset-1 focus:ring-sky-400"
  >
    <span class="block w-full h-full" aria-hidden="true">
      <%- include('partials/icons/plus') %>
    </span>
  </button>
</div>

<script type="module" src="/scripts/homepage.js"></script>
