<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />

    <!-- css -->
    <link rel="stylesheet" href="/styles/build.css" />

    <script type="module" src="/scripts/main.js"></script>

    <title>Members Only</title>
  </head>

  <body>
    <!-- Global Navigation Spinner -->
    <div
      id="nav-spinner"
      class="fixed inset-0 bg-white bg-opacity-95 hidden justify-center items-center z-50"
    >
      <div class="text-center">
        <span class="block size-12 text-stone-400 animate-spin mx-auto">
          <%- include('./partials/icons/spinner') %>
        </span>
        <p class="mt-4 text-stone-600">Loading...</p>
      </div>
    </div>

    <div class="flex justify-center">
      <!-- sidebar -->
      <% if (locals.currentUser) { %>
      <%- include('partials/sidebar') %>
      <% } %>

      <!-- main -->
      <main class="w-full max-w-xl min-h-screen sm:border-x sm:border-zinc-200">
        <!-- spinner -->
        <%- include('partials/spinner', {tag: 'main'}) %>

        <div id="main-content" class="hidden"><%- body %></div>
      </main>

      <!-- Search -->
      <% if (locals.currentUser) { %>
      <%- include('partials/right-side') %>
      <% } %>
    </div>

    <!-- Modal -->
    <%- include('partials/create-modal') %>
  </body>
</html>
