<div class="min-h-screen border-x border-zinc-200">
  <!-- Back button -->
  <div class="h-32 bg-zinc-50 py-2 px-1 sm:px-3 border-b border-zinc-100">
    <button
      id="back-btn-on-profile"
      type="button"
      class="cursor-pointer hover:bg-zinc-200 size-10 p-2 rounded-lg text-zinc-700 transition-colors duration-200"
    >
      <%- include('partials/icons/arrow-left') %>
    </button>
  </div>

  <div
    class="space-y-3 px-3 sm:px-5 border-b border-zinc-200 pb-3 relative pt-14"
  >
    <!-- Avatar -->
    <div
      class="font-serif absolute -top-0 -translate-y-1/2 flex items-center justify-center size-20 bg-white border border-zinc-100 shadow-sm rounded-full text-5xl text-zinc-700 aspect-square"
      aria-hidden="true"
    >
      <%= user.first_name.slice(0,1) %><%=
                  user.last_name.slice(0,1) %>
    </div>

    <!-- Name and icon -->
    <div class="flex items-start gap-5">
      <div>
        <h1 class="text-zinc-800 text-3xl">
          <%= user.first_name %> <%= user.last_name %>
        </h1>
        <p class="text-zinc-500"><%= user.username %></p>
      </div>

      <% if (user.role === 'admin') { %>
      <!-- Admin icon -->
      <div
        class="flex items-center gap-1 border border-emerald-200 hover:bg-emerald-50 rounded-full px-2 py-1 mt-1"
      >
        <span class="block size-5 text-emerald-600" aria-hidden="true">
          <%- include('partials/icons/admin') %>
        </span>
        <span class="text-sm text-emerald-600">Admin user</span>
      </div>
      <% } else if (user.role === 'moderator') { %>
      <!-- Club member icon -->
      <div
        class="flex items-center gap-1 border border-sky-200 rounded-full px-2 py-1 hover:bg-sky-50 mt-1"
      >
        <span class="block size-5 text-sky-500" aria-hidden="true">
          <%- include('partials/icons/member') %>
        </span>
        <span class="text-sm text-sky-500">Club member</span>
      </div>
      <% } else if (user.id === currentUser.id) { %>
      <!-- User icon -->
      <a
        href="/auth/upgrade"
        class="mt-1 flex items-center gap-1 border border-zinc-200 rounded-full px-2 py-1 hover:bg-zinc-100 transition-colors duration-200"
      >
        <span class="inline-block size-5 text-sky-500" aria-hidden="true">
          <%- include('partials/icons/club') %>
        </span>
        <span class="text-sm">Join the club</span>
      </a>
      <% } %>
    </div>

    <!-- join date and number of messages -->
    <div
      class="flex flex-col sm:flex-row sm:items-baseline sm:gap-4 text-zinc-600 font-light"
    >
      <p>Joined in <%= locals.formatDate(user.created_at, 'LLLL yyyy') %></p>
      <p>
        You've posted
        <span class="text-zinc-900 font-semibold">
          <%= locals.messages.length %>
        </span>
        <span><%= messages.length !== 1 ? 'messages' : 'message' %></span>
      </p>
    </div>
  </div>

  <!-- Posts -->

  <% if (locals.messages) { %>
  <% messages.map(msg => { %>
  <div class="px-3 sm:px-5 py-5 border-b border-zinc-200 flex gap-2">
    <!-- Left: Avatar -->
    <div>
      <span
        class="flex items-center justify-center size-10 bg-zinc-100 rounded-full text-lg text-zinc-800 font-semibold"
        aria-hidden="true"
      >
        <%= user.first_name.slice(0,1) %><%=
                    user.last_name.slice(0,1) %>
      </span>
    </div>

    <!-- Right -->
    <div class="flex flex-col gap-2 w-full">
      <!-- Top on the right -->
      <div class="flex items-center gap-1.5 mb-1">
        <!-- User's name -->
        <p class="font-semibold shrink-0">
          <%= user.first_name %> <%= user.last_name %>
        </p>

        <!-- User's role -->
        <% if (user.role !== 'user') { %>
        <div class="size-5 text-sky-500">
          <%- include('partials/icons/member') %>
        </div>
        <% } %>

        <!-- username and date info -->
        <p class="text-zinc-500 line-clamp-1">
          <%= user.username %>
          <span class="text-zinc-500">&#8901;</span>
          <%=
            locals.formatDistanceToNowStrict(msg.created_at) %>
        </p>

        <!-- up right:  dropdown menu -->
        <% if (user.id === currentUser.id || currentUser.role === 'admin') { %>
        <div class="relative ml-auto">
          <!-- dropdown menu trigger -->
          <button
            id="<%= `dropdown-trigger-${msg.id}` %>"
            type="button"
            class="hover:bg-zinc-100 rounded-full cursor-pointer"
          >
            <span class="text-xl p-1 aspect-square">&#8943;</span>
          </button>

          <!-- dropdown menu content -->
          <div
            id="<%= `dropdown-menu-${msg.id}` %>"
            class="hidden absolute top-0 right-0 w-full min-w-max px-3 py-5 bg-white shadow-md rounded-md border border-zinc-100"
          >
            <form
              action="<%= `/messages/${msg.id}/delete` %>?_method=DELETE&from=<%= currentPath %>"
              method="post"
            >
              <button
                type="submit"
                class="w-full px-2 py-1 rounded-sm hover:bg-zinc-100 flex justify-start items-center gap-2 transition-colors duration-200 cursor-pointer text-red-500"
              >
                <span class="block size-4"
                  ><%- include('partials/icons/trash') %></span
                >
                <span>Delete</span>
              </button>
            </form>
          </div>
        </div>
        <% } %>
      </div>

      <p>
        <%= msg.content %>
        <span class="text-blue-500">#<%= msg.title %></span>
      </p>
    </div>
  </div>

  <!-- end -->
  <div class="text-center py-8 text-zinc-400">End of feed</div>
  <% }) %>
  <% } else { %>
  <%- include('partials/no-posts') %>
  <% } %>
</div>

<script type="module" src="/scripts/profile.js"></script>
