<div class="min-h-screen border-x border-zinc-200">
  <!-- Back button -->
  <div class="h-32 bg-zinc-100 py-2 px-1 sm:px-3">
    <button
      id="back-btn-on-profile"
      type="button"
      class="cursor-pointer hover:bg-zinc-200 size-10 p-2 rounded-lg text-zinc-700 transition-colors duration-200"
    >
      <%- include('partials/icons/arrow-left') %>
    </button>
  </div>

  <div
    class="space-y-3 px-3 sm:px-5 border-b border-zinc-200 pb-3 relative pt-14"
  >
    <!-- Avatar -->
    <div
      class="absolute -top-0 -translate-y-1/2 flex items-center justify-center size-20 bg-white border border-zinc-100 rounded-full text-5xl text-zinc-700"
      aria-hidden="true"
    >
      <%= currentUser.first_name.slice(0,1) %><%=
                  currentUser.last_name.slice(0,1) %>
    </div>

    <!-- Name and icon -->
    <div class="flex items-start gap-5">
      <div>
        <h1 class="text-zinc-800 text-3xl">
          <%= currentUser.first_name %> <%= currentUser.last_name %>
        </h1>
        <p class="text-zinc-500"><%= currentUser.username %></p>
      </div>

      <% if (currentUser.role === 'admin') { %>
      <div
        class="flex items-center gap-1 border border-zinc-200 rounded-full px-3 py-0.5 mt-1"
      >
        <span class="block size-5 text-sky-500" aria-hidden="true">
          <%- include('partials/icons/admin') %>
        </span>
        <span class="capitalize">Admin user</span>
      </div>
      <% } else if (currentUser.role === 'moderator') { %>
      <div
        class="flex items-center gap-1 border border-zinc-200 rounded-full px-3 py-0.5 mt-1"
      >
        <span class="block size-5 text-sky-500" aria-hidden="true">
          <%- include('partials/icons/member') %>
        </span>
        <span class="capitalize">Club member</span>
      </div>
      <% } else { %>
      <a
        href="/auth/upgrade"
        class="mt-1 flex items-center gap-1 border border-zinc-200 rounded-full px-3 py-0.5 hover:bg-zinc-100 transition-colors duration-200"
      >
        <span class="inline-block size-5 text-sky-500" aria-hidden="true">
          <%- include('partials/icons/club') %>
        </span>
        <span>Join the club</span>
      </a>
      <% } %>
    </div>

    <!-- join date and number of messages -->
    <div
      class="flex flex-col sm:flex-row sm:items-baseline sm:gap-4 text-zinc-600 font-light"
    >
      <p>
        Joined in <%= locals.formatDate(currentUser.created_at, 'LLLL yyyy') %>
      </p>
      <p>
        You've posted
        <span class="text-zinc-900 font-semibold">0</span>
        message<span id="plural">s</span>
      </p>
    </div>
  </div>

  <!-- Posts -->
  <div>
    <% if (locals.messages) { %>
    <% messages.map(msg => { %>
    <div class="px-3 sm:px-5 py-5 border-b border-zinc-200 flex gap-2">
      <!-- Avatar -->
      <a href="">
        <span
          class="flex items-center justify-center size-10 bg-zinc-100 rounded-full text-lg text-zinc-800 font-semibold"
          aria-hidden="true"
        >
          <%= msg.author.first_name.slice(0,1) %><%=
                    msg.author.last_name.slice(0,1) %>
        </span>
      </a>

      <!-- Message title and content -->
      <div class="flex flex-col gap-2">
        <div class="flex items-center gap-1.5 mb-1">
          <p class="font-semibold shrink-0">
            <%= msg.author.first_name %> <%= msg.author.last_name %>
          </p>

          <% if (msg.author.role !== 'user') { %>
          <div class="size-5 text-sky-500">
            <%- include('partials/icons/member') %>
          </div>
          <% } %>

          <p class="text-zinc-500 line-clamp-1">
            <%= msg.author.username %>
            <span class="text-zinc-500">&#8901;</span>
            <%=
            locals.formatDistanceToNowStrict(msg.created_at) %>
          </p>
        </div>

        <h2 class="font-semibold"><%= msg.title %></h2>
        <p><%= msg.content %></p>
      </div>
    </div>

    <% }) %>
    <% } else { %>
    <%- include('partials/no-posts') %>
    <% } %>
  </div>
</div>

<script type="module" src="/scripts/profile.js"></script>
