<div class="min-h-screen">
  <!-- Back button -->
  <header class="h-32 bg-zinc-50 py-2 px-1 sm:px-3 border-b border-zinc-100">
    <button
      id="back-btn-on-profile"
      type="button"
      aria-label="Go back"
      class="cursor-pointer hover:bg-zinc-200 size-10 p-2 rounded-lg text-zinc-700 transition-colors duration-200"
    >
      <%- include('partials/icons/arrow-left') %>
    </button>
  </header>

  <section
    class="space-y-3 px-3 sm:px-5 border-b border-zinc-200 pb-3 relative pt-14"
  >
    <!-- Avatar -->
    <div
      aria-hidden="true"
      role="img"
      aria-label="User avatar: <%= user.avatar %>"
      class="font-serif absolute -top-0 -translate-y-1/2 flex items-center justify-center size-20 bg-white border border-zinc-100 shadow-sm rounded-full text-5xl text-zinc-700 aspect-square"
    >
      <%= user.avatar %>
    </div>

    <div class="flex items-start gap-5">
      <div>
        <h1 class="text-zinc-800 text-3xl font-semibold">
          <%= user.first_name %> <%= user.last_name %>
        </h1>
        <p class="text-zinc-500"><%= user.username %></p>
      </div>

      <% if (user.role === 'admin') { %>
      <!-- Admin icon -->
      <div
        class="flex items-center gap-1 border border-amber-200 hover:bg-amber-50 rounded-full px-2 py-1 mt-1"
      >
        <span
          class="block size-5 text-amber-500"
          aria-hidden="true"
          role="img"
          aria-label="Admin user"
        >
          <%- include('partials/icons/admin') %>
        </span>
        <span class="text-sm text-amber-500">Admin user</span>
      </div>
      <% } else if (user.role === 'moderator') { %>

      <!-- Club member icon -->
      <div
        class="flex items-center gap-1 border border-sky-200 rounded-full px-2 py-1 hover:bg-sky-50 mt-1"
      >
        <span
          class="block size-5 text-sky-500"
          aria-hidden="true"
          role="img"
          aria-label="Club member"
        >
          <%- include('partials/icons/member') %>
        </span>
        <span class="text-sm text-sky-500">Club member</span>
      </div>
      <% } else if (user.id === currentUser.id) { %>
      <!-- User icon -->
      <a
        href="/auth/upgrade"
        class="mt-1 flex items-center gap-1 border border-zinc-100 rounded-full px-2 py-1 hover:bg-zinc-100 transition-colors duration-200"
      >
        <span
          class="inline-block size-5 text-sky-500"
          aria-hidden="true"
          role="img"
          aria-label="Join the club"
        >
          <%- include('partials/icons/member') %>
        </span>
        <span class="text-sm">Join the club</span>
      </a>
      <% } %>
    </div>

    <!-- join date and number of messages -->
    <div
      class="flex flex-col sm:flex-row sm:items-baseline sm:gap-4 text-zinc-600 font-light"
    >
      <p>Joined in <%= locals.formatDate(user.created_at, 'LLLL yyyy') %></p>
      <p>
        You've posted
        <span class="text-zinc-900 font-semibold">
          <%= locals.messages.length %>
        </span>
        <span><%= messages.length !== 1 ? 'messages' : 'message' %></span>
      </p>
    </div>
  </section>

  <!-- Posts -->
  <% if (locals.messages) { %>
  <section>
    <% messages.map(msg => { %>
    <%- include('partials/post', { msg }) %>
    <% }) %>
  </section>

  <!-- end of the list -->
  <div class="text-center py-8 text-zinc-400">End of feed</div>

  <% } else { %>
  <%- include('partials/no-posts') %>
  <% } %>
</div>

<script type="module" src="/scripts/profile.js"></script>
