<div class="min-h-screen border-x border-zinc-200">
  <!-- header -->
  <%- include('partials/header')  %>

  <div class="space-y-3 px-3 sm:px-5 border-b border-zinc-200 pb-2 mt-5">
    <div class="flex items-start gap-5">
      <div>
        <h1 class="text-zinc-800 text-3xl">
          <%= currentUser.first_name %> <%= currentUser.last_name %>
        </h1>
        <p class="text-zinc-500"><%= currentUser.username %></p>
      </div>

      <% if (currentUser.role === 'admin') { %>
      <div
        class="flex items-center gap-1 border border-zinc-200 rounded-full px-3 py-0.5 mt-1"
      >
        <span class="block size-5 text-sky-500" aria-hidden="true">
          <%- include('partials/icons/admin') %>
        </span>
        <span class="capitalize">Admin user</span>
      </div>
      <% } else if (currentUser.role === 'moderator') { %>
      <div
        class="flex items-center gap-1 border border-zinc-200 rounded-full px-3 py-0.5 mt-1"
      >
        <span class="block size-5 text-sky-500" aria-hidden="true">
          <%- include('partials/icons/member') %>
        </span>
        <span class="capitalize">Club member</span>
      </div>
      <% } else { %>
      <a
        href="/auth/upgrade"
        class="mt-1 flex items-center gap-1 border border-zinc-200 rounded-full px-3 py-0.5 hover:bg-zinc-100 transition-colors duration-200"
      >
        <span class="inline-block size-5 text-sky-500" aria-hidden="true">
          <%- include('partials/icons/club') %>
        </span>
        <span>Join the club</span>
      </a>
      <% } %>
    </div>

    <div
      class="flex flex-col sm:flex-row sm:items-baseline sm:gap-4 text-zinc-600 font-light"
    >
      <p>
        Joined in <%= locals.formatDate(currentUser.created_at, 'LLLL yyyy') %>
      </p>
      <p>
        You've posted
        <span class="text-zinc-900 font-semibold">0</span>
        message<span id="plural">s</span>
      </p>
    </div>
  </div>

  <!-- Posts -->
  <div>
    <% if (locals.messages) { %>
    <% messages.map(msg => { %>
    <div class="px-3 sm:px-5 py-2 border-b border-zinc-200 flex gap-2">
      <div class="flex flex-col gap-2">
        <h2 class="font-semibold"><%= msg.title %></h2>
        <p><%= msg.content %></p>
      </div>
    </div>

    <% }) %>

    <% } else { %>
    <%- include('partials/no-posts') %>
    <% } %>
  </div>
</div>
