<div>
  <h1 class="text-blue-500 text-5xl">
    <%= currentUser.first_name %> <%= currentUser.last_name %>
  </h1>

  <p><%= currentUser.username %></p>

  <p><%= currentUser.role %></p>

  <p><%= currentUser.is_admin %></p>

  <p><%= currentUser.created_at %></p>
</div>

<form action="/auth/logout" method="post">
  <button type="submit">Logout</button>
</form>
