<div class="min-h[calc(100vh-56px)] py-12 px-5">
  <div class="w-full max-w-90 mx-auto">
    <div class="size-14 sm:size-20 mx-auto mb-4 sm:mb-8">
      <%- include('partials/icons/logo') %>
    </div>

    <div class="mb-8">
      <h1 class="text-3xl sm:text-5xl font-bold text-center">Create Account</h1>
    </div>

    <form
      id="register-form"
      action="/auth/register"
      method="post"
      class="space-y-4"
      novalidate
      data-errors="<%= JSON.stringify(locals.errors) || {} %>"
    >
      <div class="flex flex-col">
        <label
          for="first_name"
          class="capitalize text-sm font-medium text-zinc-700 mb-2"
        >
          first name
        </label>
        <input
          type="text"
          id="first_name"
          name="first_name"
          value="<%= locals.oldInput?.first_name || '' %>"
          aria-required="true"
          required
          class="border border-zinc-200 rounded-sm px-3 py-2 outline-none focus:border-sky-500 focus:ring-2 focus:ring-sky-50 transition-colors duration-200"
        />
      </div>

      <div class="flex flex-col">
        <label
          for="last_name"
          class="capitalize text-sm font-medium text-zinc-700 mb-2"
        >
          last name
        </label>
        <input
          type="text"
          id="last_name"
          name="last_name"
          value="<%= locals.oldInput?.last_name || '' %>"
          aria-required="true"
          required
          class="border border-zinc-200 rounded-sm px-3 py-2 outline-none focus:border-sky-500 focus:ring-2 focus:ring-sky-50 transition-colors duration-200"
        />
      </div>

      <div class="flex flex-col">
        <label
          for="username"
          class="capitalize text-sm font-medium text-zinc-700 mb-2"
          >username</label
        >
        <input
          type="email"
          id="username"
          name="username"
          value="<%= locals.oldInput?.username || '' %>"
          aria-describedby="username-help"
          aria-required="true"
          required
          class="border border-zinc-200 rounded-sm px-3 py-2 outline-none focus:border-sky-500 focus:ring-2 focus:ring-sky-50 transition-colors duration-200"
        />

        <p id="username-help" class="text-sm text-zinc-500 mt-2">
          Please input an valid email address for username
        </p>
      </div>

      <div class="flex flex-col">
        <label
          for="password"
          class="capitalize text-sm font-medium text-zinc-700 mb-2"
        >
          password
        </label>
        <input
          type="password"
          id="password"
          name="password"
          value="<%= locals.oldInput?.password || ''%>"
          aria-describedby="password-help"
          aria-required="true"
          required
          class="border border-zinc-200 rounded-sm px-3 py-2 outline-none focus:border-sky-500 focus:ring-2 focus:ring-sky-50 transition-colors duration-200"
        />

        <p id="password-help" class="text-sm text-zinc-500 mt-2">
          Password must be at least 6 characters long
        </p>
      </div>

      <div class="flex flex-col">
        <label
          for="confirm_password"
          class="capitalize text-sm font-medium text-zinc-700 mb-2"
        >
          confirm password
        </label>
        <input
          type="password"
          id="confirm_password"
          name="confirm_password"
          value="<%= locals.oldInput?.confirm_password || '' %>"
          aria-required="true"
          required
          class="border border-zinc-200 rounded-sm px-3 py-2 outline-none focus:border-sky-500 focus:ring-2 focus:ring-sky-50 transition-colors duration-200"
        />
      </div>

      <div>
        <button
          type="submit"
          class="w-full bg-sky-500 py-2 outline-none text-white font-semibold rounded-sm cursor-pointer transition-colors duration-200 hover:bg-sky-400 focus:ring-2 focus:ring-offset-1 focus:ring-sky-400 disabled:opacity-50 disabled:cursor-not-allowed"
        >
          Register
        </button>
      </div>

      <div>
        <p class="text-center text-sm">
          Have an account already? Go
          <a href="/auth/login" class="underline">sign in</a>.
        </p>
      </div>
    </form>
  </div>
</div>

<script type="module" src="/scripts/register.js"></script>
