<nav
  class="fixed top-0 left-1/2 -translate-x-1/2 h-14 px-5 w-full max-w-[600px] bg-white/50 border-b border-x border-zinc-200 backdrop-blur z-10"
>
  <!-- 1280 container -->
  <div class="max-w-[1440px] h-full mx-auto flex items-center justify-between">
    <!-- Brand -->
    <div class="font-semibold">
      <a
        href="/"
        class="flex items-center gap-1"
        aria-label="Members Only - Home"
      >
        <div class="size-8" aria-hidden="true"><%- LOGO_ICON %></div>
        <div class="sr-only">Members Only</div>
      </a>
    </div>

    <!-- Navigation Links -->
    <% if (locals.currentUser) { %>
    <ul class="h-full flex items-center gap-1 text-zinc-900">
      <li>
        <a
          class="flex items-center gap-1 rounded-md hover:bg-zinc-100 p-2"
          href="/"
        >
          <span class="block size-6" aria-hidden="true">
            <%- HOME_ICON %>
          </span>
          <span class="sr-only sm:not-sr-only">Home</span>
        </a>
      </li>

      <li>
        <a
          class="flex items-center gap-1 rounded-md hover:bg-zinc-100 p-2"
          href="/auth/profile"
        >
          <span class="block size-6" aria-hidden="true">
            <%- PROFILE_ICON %>
          </span>
          <span class="sr-only sm:not-sr-only">Profile</span>
        </a>
      </li>
      <li>
        <div id="dropdown" class="relative">
          <button
            id="dropdown-trigger"
            class="flex items-center gap-1 rounded-md hover:bg-zinc-100 p-1 cursor-pointer"
          >
            <span
              class="flex items-center justify-center size-8 bg-white border border-zinc-100 rounded-full"
              aria-hidden="true"
            >
              <%= currentUser.first_name.slice(0,1) %><%=
                  currentUser.last_name.slice(0,1) %>
            </span>
          </button>

          <div
            id="dropdown-content"
            class="absolute top-12 right-0 z-20 bg-white px-6 py-4 rounded-sm shadow-md hidden"
          >
            <form action="/auth/logout" method="post">
              <input
                type="submit"
                value="Logout"
                class="cursor-pointer hover:text-sky-500 transition-colors duration-200"
              />
            </form>
          </div>
        </div>
      </li>
    </ul>
    <% } %>
  </div>
</nav>

<script type="module" src="/scripts/navbar.js"></script>
